<!DOCTYPE html>

<html>

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>News-Api</title>

</head>


<body>

  <div class="col-md-6">

    {% if err %}}
    <div class="alert alert-danger" role="alert">
      {{ err }}
    </div>
    {% endif %}

    <h1>Find a topic that interests you on BBC-News</h1>

    <br />

    <form action='{{ url_for('define_page') }}' method='POST'>

      {% for form in topicform %}
      <div class="form-group">
        {{ form.label }}
        {{ form(class='form-control') }}
      </div>
      {% endfor %}

      <button type="submit" class="btn btn-success">>></button>

    </form>

  </div>

</body>

</html>
