{% extends 'prototype.html' %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
{% endblock %}

{% block body %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Choose topics that interest you</h1>
            <p class="lead">
                <br>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                Sport
                            </button>
                            <input type="checkbox" name="sport">
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body">

                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="card" style="width: 18rem;">
                                            <img src="../static/football.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title"><input type="checkbox" name="football">
                                                    Football
                                                </h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="card" style="width: 18rem;">
                                            <img src="../static/basketball.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title"><input type="checkbox" name="basketball">
                                                    Basketball
                                                </h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="card" style="width: 18rem;">
                                            <img src="../static/hockey.jpg" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title"><input type="checkbox" name="hockey">
                                                    Hockey
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                    IT
                                </button>
                                <input type="checkbox" name="it">
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionExample">
                            <div class="card-body">

                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="card" style="width: 18rem;">
                                                <img src="../static/java.png" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title"><input type="checkbox" name="java">
                                                        Java
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="card" style="width: 18rem;">
                                                <img src="../static/c++.jpg" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title"><input type="checkbox" name="c++">
                                                        C++
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="card" style="width: 18rem;">
                                                <img src="../static/php.png" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title"><input type="checkbox" name="php">
                                                        PHP
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    Countries
                                </button>
                                <input type="checkbox" name="countries">
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                             data-parent="#accordionExample">
                            <div class="card-body">

                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="card" style="width: 18rem;">
                                                <img src="../static/usa.jpg" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title"><input type="checkbox" name="usa">
                                                        USA
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="card" style="width: 18rem;">
                                                <img src="../static/russia.jpg" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title"><input type="checkbox" name="russia">
                                                        Russia
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="card" style="width: 18rem;">
                                                <img src="../static/india.jpg" class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title"><input type="checkbox" name="india">
                                                        India
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p>
            <button type="button" class="btn btn-info btn-lg">Ready</button>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>

    <style>

        .cards {
            display: inline-block;
        }

    </style>

{% endblock %}
