{% extends 'prototype.html' %}

{% block head %}

    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}>

{% endblock %}


{% block body %}

    <br/>

    <center>
        <div class="container col-md-7">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4">Welcome</h1>
                <p class="lead">The content aggregator will allow you to see news that interests you. <br/>All you need
                    is to register and select the topics and news portals you are interested in.</p><br/>


            </div>

            <!-- News Start !-->

            <div class="container">
                <div class="row">

                    {% for news in data_articles %}

                        <div class="col-md-4">
                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                    <div class="frontside">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <p><img class=" img-fluid" src="{{ news.urlToImage }}" alt="card image">
                                                </p>
                                                <h5 class="card-title">{{ news.title }}</h5>
                                                <p class="card-text">{{ news.publishedAt[:10] }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="backside">
                                        <div class="card">
                                            <div class="card-body text-center mt-4">
                                                <h5 class="card-title">{{ news.title }}</h5>
                                                <p class="card-text">{{ news.description }}</p>
                                                <a href="{{ news.url }}" class="btn btn-outline-success">Source</a>
                                                </a>
                                                </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>

            <!-- News End !-->

            <h1 class="display-4">Get started</h1><br>
            <br>
            <!-- Grid row -->
            <div class="row">
                <!-- Login column -->
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="text-center default-text py-3"><i class="fa fa-lock"></i> Login:</h3>
                            <!--Body-->

                            <div class="col-md-6">


                            </div>


                            <div class="text-center">
                                <button class="btn btn-default waves-effect waves-light">next</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Login column -->

                <!-- Register column -->

                <div class="col-md-6 mb-4">
                    <div class="card indigo form-white">
                        <div class="card-body">
                            <h3 class="text-center white-text py-3"><i class="fa fa-user"></i> Register:</h3>
                            <!--Body-->

                            <form action="{{ url_for('index') }}" method="POST">
                                {% for forms in regforms %}

                                    <br>
                                    {{ forms.label }}
                                    <br>
                                    {{ forms(class='form-control') }}

                                {% endfor %}

                                <br>

                                <button class="btn btn-primary btn" type="submit">I'm ready</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Register column -->
        </div>
        <!-- Grid row -->
    </center>

    <style>

        .container {


        }


        .container > div {

        }

    </style>

{% endblock %}
